{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <title>Title</title>#}
{#  <style>#}
{#    .account{#}
{#      width: 400px;#}
{#      margin: 0 auto;#}
{#    }#}
{#  </style>#}
{#</head>#}
{#<body>#}
{#  <div class="account">#}
{#    <h1>注册</h1>#}
{##}
{#    <form>#}
{#      {% for field in register_form %}#}
{#        {% if field.name == 'code' %}#}
{#          <div class="form-group">#}
{#            <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#            <div class="clearfix">#}
{#              <div class="col-md-6" style="padding: 0">{{ field }}</div>#}
{#              <div class="col-md-6"><input type="button" value="点击获取验证码" class="btn btn-default"></div>#}
{#            </div>#}
{#          </div>#}
{#        {% else %}#}
{#          <div class="form-group">#}
{#            <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#            {{ field }}#}
{#          </div>#}
{#        {% endif %}#}
{#      {% endfor %}#}
{#      <button type="submit" class="btn btn-primary">注册</button>#}
{#    </form>#}
{#  </div>#}
{#</body>#}
{#</html>#}
{##}

{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    注册
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title">用户注册</div>
        <form id="regForm" method="POST" novalidate>
            {% csrf_token %}
            {% for field in register_form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="row">
                            <div class="col-xs-7">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-xs-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="row">
                <div class="col-xs-3">
                    <input id="btnSubmit" type="button" class="btn btn-primary" value="注  册"/>
                </div>
            </div>
        </form>
    </div>

{% endblock %}