{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    注册
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg {
            color: red;
            position: absolute;
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title">用户注册</div>
        <form id="regForm" method="POST" novalidate>
            {% csrf_token %}
            {% for field in register_form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="row">
                            <div class="col-xs-7">
                                {{ field }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-xs-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="点击获取验证码">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="row">
                <div class="col-xs-3">
                    <input id="btnSubmit" type="button" class="btn btn-primary" value="注  册"/>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
  <script>
      function smsRemind() {
          var $btnSms = $("#btnSms");

          $btnSms.prop('disabled', true);
          var time = 60;
          var remind = setInterval(function () {
              $btnSms.val(time + "秒后重新发送");

              time = time - 1;
              if (time < 1) {
                  clearInterval(remind);
                  $btnSms.val("重新获取验证码").prop('disabled', false);
              }
          }, 1000)
      }

      /*
       * 点击获取验证码的按钮绑定事件
       */
      function bindClickBtnSms() {
          $('#btnSms').click(function () {
              // 清空错误信息
              $(".error-msg").empty();
              // 获取用户输入的手机号
              var mobilePhone = $('#id_mobile_phone').val();

              // 发送ajax请求
              $.ajax({
                  // 生成 http://www.xx.com/index/?k1=1&k2=2
                  url: "{% url "mainapp:sms" %}",
                  type: "GET",
                  data: {mobile_phone: mobilePhone, tpl: "register"},
                  // 将返回的数据反序列化为字典
                  dataType: "JSON",
                  success: function (res) {
                      //ajax请求发送成功之后自动执行的函数
                      if (res.status) {
                          smsRemind();
                      } else {
                          // 错误信息
                          $.each(res.error, function (key, value) {
                              $("#id_" + key).next().text(value[0]);
                          })
                      }
                  }
              })
          })
      }

      function bindClickBtnSubmit() {
          // 这里使用ajax而不用button的type=submit是为了提示错误信息时，防止页面刷新把验证码的倒计时效果清空
          $('#btnSubmit').click(function () {
              // 清空错误信息
              $('.error-msg').empty();
              // 收集表单数据
              // ajax发送到后台
              $.ajax({
                  url: "{% url "mainapp:register" %}",
                  type: "POST",
                  data: $('#regForm').serialize(), // 包含所有文件的数据 + csrf_token
                  dataType: "JSON",
                  success: function (res) {
                      if (res.status) {
                          // 注册成功则跳转到后台返回的url
                          location.href = res.data;
                      } else {
                          $.each(res.error, function (key, value) {
                              $('#id_' + key).next().text(value[0]);
                          });
                      }
                  }
              })
          })
      }

      //页面框架加载完成之后自动执行函数
    $(function () {
        bindClickBtnSms();
        bindClickBtnSubmit();
    })
  </script>
{% endblock %}